  <div class="banner">
    <div class="container-ban">
      <h1>All Our Potions[<%= @cocktails.count %>]</h1>
      <p><em id="navbar-typed-text"></em></p>
    </div>
  </div>

  <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
    <p class="btn btn-dark"><%= link_to 'Create Your Potion', new_cocktail_path %></p>
  </div>

<div>
   <ul class="cards">
      <% @cocktails.each do |cocktail| %>

      <li class="card-product">
        <div class="card-product-infos">
            <img src="<%= cl_image_path cocktail.photo.key %>" />
          <h2><%= link_to cocktail.name, cocktail_path(cocktail) %></h2>
          <p><%= cocktail.description %></p>
        </div>
      </li>
      <% end %>
    </ul>
</div>




