<div class="getting-margin">
  <%= simple_form_for @cocktail do |f| %>
    <div class="input-color">
      <%= f.input :name %>
      <%= f.input :description, hint: 'How to make the cocktail' %>
      <%= f.input :photo, as: :file, hint: 'We Recomend PNG vector images' %>
      <%= f.submit class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>
